
.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.NavBar {
  background-color: #282c34;
  padding: 10px;
  margin-bottom: 20px;
}

.NavBarTitle {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

p span {
  margin-right: 10px;
}

input {
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px; 
}


button {
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #61dafb;
  color: white;
  border: none;
  margin-left: 15px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


.Table {
  width: 80%;
  margin: 20px auto;
  border-collapse: separate;
  border-spacing: 0;
}

.Table th, .Table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.Table th {
  background-color: #282c34;
  color: white;
}

.Table tr {
  border-bottom: 1px solid #ddd;
}

.Table tr:last-child {
  border-bottom: none;
}

.SpeedometerContainer {
  margin-top: 20px;
  text-align: center;
}

.AlertContainer {
  margin-top: 10px;
  color: red;
}

.LoaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



